$main-color: #3F3F3F;
$accent-color: rgba(136, 157, 234, 1);
$head-color:rgba(255, 255, 255, 1);
$button-color: rgba(136, 234, 169, 1);
$grey-color: #C7C7C7;
$white-color: rgb(255, 255, 255);

$function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 400ms;

$desktop: 1200px;
$tablet: 768px;
$mobile: 480px;
