.head__button {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 11px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 216px;
    background-color: $button-color;

    @media screen and (min-width: $desktop) {
        top: 250px;
    }
}

.head__icon {
    display: block;
    width: 36px; 
    height: 36px;
    transform: rotate(45deg);
    align-items: center;
}

.foot__button {
    display: flex;
    padding: 12px 22px;
    margin: 0 auto;
    margin-top: 26px;
    align-items: center;
    margin-bottom: 40px;
    border: none;
    border-radius: 11px;
    background-color: $button-color;
    color: $white-color;
}

.foot__icon {
    width: 24px; 
    height: 24px;
    margin-right: 8px;
}

